<div class="col-md-12 padding25 maring30top" style="text-align: center;">
    <button style="display:inline-block;" class="btn btn-primary btn-custom" (click)="onHome()">Home</button>
    <button style="display:inline-block;" class="btn btn-primary btn-custom" (click)="onLogin()">Login</button>
    <button style="display:inline-block;" class="btn btn-primary btn-custom" (click)="onRegister()">Register</button>
    <button style="display:inline-block;" class="btn btn-primary btn-custom" (click)="onUsers()">Users</button>
    <button style="display:inline-block;" class="btn btn-primary btn-custom" >Task</button>
</div>
<hr>